<div id="modal1" class="modal">
  <div class="modal-content transparent">
    <div class="row">
      <a data-target="modal1"class="btn-floating modal-close btn-large waves-effect waves-light deep-orance darken-3"><i class="material-icons">close</i></a>
      <form class="col s12 card-panel blue-grey lighten-4" id="login-form">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="User" id="name-input-login" type="text" class="validate">
            <label for="name-input-login">Username</label>
          </div>
          <div class="input-field col s12">
            <input placeholder="password" id="pw-input-login" type="password" class="validate">
            <label for="pw-input-login">Password</label>
          </div>
        </div>
        <button type="submit" name="action" id="login-button"
      class="waves-effect waves-green btn-flat deep-orange darken-4 teal-text text-lighten-5">Login</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>