<div id="modal2" class="modal">
  <div class="modal-content blue-grey lighten-4">
    <div class="row">
      <form class="col s12 card-panel teal lighten-5" id="signup-form">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="User" id="name-input-signup" type="text" class="validate">
            <label for="name-input-signup">Username</label>
          </div>
          <div class="input-field col s12">
            <input placeholder="password" id="pw-input-signup" type="password" class="validate">
            <label for="pw-input-signup">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer blue-grey darken-2">
    <a href="/login" type="button" data-target="modal1"
      class="btn modal-trigger waves-effect waves-green btn-flat deep-orange darken-4 teal-text text-lighten-5">Login</a>
    <button type="submit" onclick="closeSignup()" id="signup-button"
      class="waves-effect waves-green btn-flat deep-orange darken-3 teal-text text-lighten-5">Sign
      up</button>
  </div>
</div>
<script src="/js/signup.js"></script>