<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    {{!
    <!--Import Google Icon Font--> }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {{!
    <!--Import materialize.css--> }}
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    {{!
    <!--Let browser know website is optimized for mobile--> }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="flex-column min-100-vh blue-grey lighten-4">
    {{! navbar with mobile collapse }}
    <nav>
        <div class="nav-wrapper blue-grey darken-2">
            <a href="#" class="brand-logo">Hello World</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/" class="hide" id="logout-link">Logout</a></li>
                <li><a href="#" id="signup-btn" type="button" data-target="modal2"
      class="btn modal-trigger waves-effect waves-blue btn-flat deep-orange darken-3 teal-text text-lighten-5">Login / Sign Up</a></li>
            </ul>
        </div>
    </nav>
    {{! mobile options }}
    <ul class="sidenav teal lighten-5" id="mobile-demo">
        <li class="h5">Navigation</li>
        <li class="deep-orange darken-3"><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="#" id="signup-btn2" type="button" data-target="modal2"
      class="btn modal-trigger waves-effect waves-blue btn-flat deep-orange darken-3 teal-text text-lighten-5">Login / Sign Up</a>
        </li>
        <li>
        </li>
        <li><a href="/" class="hide" id="logout-link2">Logout</a></li>
    </ul>
    {{!materialize containter for main content }}

    <div id="main-hub" class="col s12 blue-grey lighten-4">
        <div class="container">
            <div class="card">
                <div class="card-content teal lighten-5">
                    <main class="section">
                        {{> signup}}
                        {{> login}}
                        {{{body}}}
                    </main>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer blue-grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Hello World: a tech blog demo by Jaquel Rey.</h5>
                    <p class="grey-text text-lighten-4">This is a fully responsive app; using mySQL, Node, Express, and
                        Handlebars. Database deployed with JawsDB.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li></li><a href="https://stocksnap.io/photo/computer-office-DAVHEACBV0">Post head photo</a> by
                        <a href="https://stocksnap.io/author/lenharthsystems">Lenharth Systems</a> on <a
                            href="https://stocksnap.io">StockSnap</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Styled with
                                Materialize</a></li>
                        <li><a class="grey-text text-lighten-3"
                                href="https://github.com/JaquelRey/Handlebars-Express-SQL-Blogging">Github Repo</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://crouton.net/">A crouton- really.</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2022 Jaquel Rey
                <a class="grey-text text-lighten-4 right" href="https://github.com/JaquelRey">My github</a>
            </div>
        </div>
    </footer>
</body>

</html>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/mobile-nav.js"></script>
