<div class="row">
  <div class="col s12 m6">
    {{#each posts}}
      <a href="/dashboard/edit/{{id}}" class="btn-floating deep-orange darken-3 pulse"><i class="material-icons">edit</i></a>
        <span class="h4 flow-text">{{title}}</span>
        <span class="flow-text">{{format_date createdAt}}</span>
      </a>
    {{/each}}
  </div>
</div>