<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-3">
            <div class="card-content white-text">
                <span class="card-title">Edit Post</span>
                <div class="row">
                    <form class="col s12 card-panel blue-grey lighten-4" id="edit-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" name="post-id" value="{{post.id}}" />
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Title" id="post-title" name="post-title" value="{{post.title}}" type="text"
                                    class="validate" />
                                <label for="post-title">Title</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea name="post-body" id="post-body"
                                    class="materialize-textarea">{{post.body}}</textarea>
                                <label for="post-body">Post body:</label>
                            </div>
                        </div>
                        <a href="#" type="button"  id="delete-button"
                    class="btn waves-effect waves-blue btn-flat deep-orange darken-4 teal-text text-lighten-5">Delete</a>
                <button name="action" type="submit" id="edit-button"
                    class="waves-effect waves-green btn-flat deep-orange darken-3 teal-text text-lighten-5">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/edit.js"></script>