<div id="modal2" class="modal">
    <div class="modal-content blue-grey lighten-4">
        <form id="login-form" class="card-panel teal lighten-5">
            <h4>Sign up</h4>
            <div>
                <label for="name-input-login">Username</label>
                <input type="text" id="name-input-login" />
            </div>
            <div>
                <label for="pw-input-login" class="form-label">Password</label>
                <input type="password" id="pw-input-login" />
            </div>
        </form>
    </div>
    <div class="modal-footer blue-grey darken-2">
        <a href="/login" type="button" data-target="modal1"
            class="btn modal-trigger waves-effect waves-green btn-flat deep-orange darken-4 teal-text text-lighten-5">Login</a>
        <button type="submit" id="signup-button"
            class="waves-effect waves-green btn-flat deep-orange darken-3 teal-text text-lighten-5">Sign
            up</button>
    </div>
</div>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>